@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --violet-color: #A741FF;
    --light-violet-color: rgba(145, 18, 255, 20%);
    --dark-violet-color: #9112FF;
    --btn-light-violet-color: rgba(145, 18, 255, 60%);

    --light-orange-color: rgba(247, 147, 30, 60%);

    --btn-violet-color: #A741FF;

    --font-family: "Barlow", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    font-family: var(--font-family) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
}

a {
    text-decoration: none !important;
    color: #000000;
}

.text-center {
    text-align: center;
}

/* Header & Navigation Bar Begins */



    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px 120px;
        align-items: center;
    }


    .search-container {
        position: relative;
        display: flex;
        margin-bottom: 1.5rem;
    }

    .search-bar {

        padding: 0.5rem;
        border: 2px solid #000000;
        border-radius: 2rem;
        font-size: 1rem;
    }

    .search-bar::placeholder {
        text-align: end;
    }

    .fa-search {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #000000;
    }

    input[type=text]:focus + .fa-search {
        color: #BDBDBD;
    }

    input[type=text]:focus + .fa-search {
        left: auto;
        right: 10px;
    }

    input[type=text]:focus::placeholder {
        color: transparent;
    }

    .login-or-cart {
        display: flex;
        justify-content: space-evenly;
    }

    .login {
        display: flex;
        margin-right: 1rem;
    }

    .fa-user {
        font-size: 1.2rem;
        color: #000000;
        margin-right: 0.5rem;
    }

    .login-text {
        font-size: 1.2rem;
    }

    .cart {
        display: flex;
    }

    .fa-cart-shopping {
        font-size: 1.2rem;
        color: #000000;
        margin-right: 0.5rem;
    }

    .cart-text {
        font-size: 1.2rem;
    }

    .wrapper {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: var(--light-orange-color);
        padding: 20px 145px;
        z-index: -1;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }
    .navbar a {
        text-decoration: none;
        color: #000;
        font-weight: 400;
        font-size: 25px;
    }
    .navbar #toggle,
    .navbar label {
        display: none;
    }

@media (max-width: 767px) {

    .navbar {
        padding: 10px 15px 70px 15px;
        justify-content: flex-end;
    }

    .navbar .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .navbar ul {
        padding-top: 20px !important;
        flex-direction: column;
        align-items: center;
    }

    .navbar label {
        display: inline-block;
        color: #000;
        cursor: pointer;
    }

    .navbar label i {
        font-size: 30px;
    }

    .navbar #toggle:checked ~ .menu {
        height: 100% !important;
    }
}
    
    @media (max-width: 767px) {
        .right {
            width: 100%;
            padding: 0 20px !important;
        }

        .search-container form {
            width: 100% !important;
        }

        .search-container {
            position: relative;
            bottom: -120px;
            z-index: 1;
        }

        .search-bar {
            width: 100%;
            text-align: right;
        }

        .header {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        .login-or-cart {
            position: absolute;
            left: 25px;
            top: 210px;
            z-index: 1;
        }

        .cart-text,
        .login-text {
            display: none;
        }
    }

/* Header & Navigation Bar Ends */

/* Home Page Starts */

    /* Hero Section Begins */

    #hero-section {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url('../grammys-banner.jpg') no-repeat center center / cover;
        max-height: 620px;
        height: 620px;
        padding: 155px 275px 0 275px;
    }

    .hero-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 870px;
    }

    .hero-details .hero-heading {
        font-size: 50px;
        font-weight: 500;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    .hero-details .shop-button {
        background-color: #A741FF;
        color: #FFFFFF;
        padding: 12px 62px;
        border-radius: 8px;
        border: none;
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
    }

    .all-products-empty {
        width: 100%;
        height: 75px;
        background: var(--light-violet-color);
    }

    @media (max-width: 767px) {


        #hero-section {
            background-size: cover;
            max-height: 320px;
            padding: 150px 20px 25px 20px;
        }
        .hero-details {
            display: flex;
            align-items: center;
            text-align: center;
        }
        .hero-details .hero-heading {
            font-size: 24px;
        }
        .hero-details .shop-button {
            padding: 8px 40px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    /* Hero Section Ends */

    /* Featured Section Begins */

    .featured-container {
        padding: 64px 145px 60px 145px !important;
        font-family: var(--font-family);
    }

    .featured-container .text-center {
        font-size: 45px;
        font-weight: 500;
    }

    .featured-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px !important;
        padding-top: 64px;
    }

    .featured-item {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }

    .featured-item img {
        width: 100%;
    }

    .new {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #3AEF3F;
        color: #9112FF;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 20px 14px;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;  
    }

    .featured-title-price {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .featured-title-price h1, h2 {
        font-size: 35px;
        font-weight: 400;
    }

    .featured-btn {
        padding: 10px 18px;
        background-color: var(--btn-violet-color);
        color: #FFFFFF;
        border-radius: 8px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
    }

    
    @media (max-width: 767px) {

        .featured-container {
            padding: 20px 0 !important;
            font-family: var(--font-family) !important;
        }
        
        .featured-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            padding-top: 20px;
        }
        .featured-container .text-center {
            font-size: 25px;
        }

        .featured-title-price h1, h2 {
            font-size: 1rem;
            font-weight: 500;
        }

        .featured-title-price h2 {
            font-size: 1rem;
            font-weight: 500;
        }

        .featured-btn {
            display: none;
        }

        .new {
            width: 25px !important;
            height: 25px !important;
            border-radius: 50%;
            background-color: #3AEF3F;
            color: #9112FF;
            font-size: 8px !important;
            font-weight: 500;
            padding: 7px 4px 6px 4px !important;
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;
        }
    }

    /* Featured Section Ends */

    /* Shop by Category Section Begins */

    .shop-by-category-container {
        padding: 60px 145px 125px 145px !important;
        font-family: var(--font-family);
    }

    .shop-by-category-container .shop-category-title {
        font-size: 45px;
        font-weight: 500;
    }

    .shop-by-categories {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 40px !important;
        font-family: var(--font-family);
        padding-top: 20px;
    }

    .category {
        display: inline-block;
        text-align: center;
        position: relative;
    }

    .category-image {
        position: relative;
    }

    .category-title {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: #FFFFFF;
        width: 100%;
        font-size: 40px;
        font-weight: 500;
    }

    @media (max-width: 767px) {

        .shop-by-category-container {
          padding: 0 !important;
          font-family: var(--font-family);
        }

        .shop-by-categories {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            padding-bottom: 40px;
        }

        .category-image {
            width: 100%;
        }

        .category-title {
            font-size: 1rem;
        }
        .shop-category-title {
            font-size: 24px !important;
        }
      }
      
    
    /* Shop by Category Section Ends */

    /* Footer Section Starts */

    .footer-section {
        background-color: var(--light-orange-color);
        padding: 105px 145px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer-nav {
        display: flex;
        gap: 75px;
    }

    .footer-nav .nav-link {
        font-size: 20px;
        font-family: var(--font-family);
    }

    .footer-right .footer-socialmedia {
        display: flex;
        gap: 45px;
        padding-bottom: 25px;
    }

    .footer-right .copyright {
        margin-bottom: 0 !important;
        font-family: var(--font-family);
    }
    
@media (max-width: 767px) {
    .footer-section {
        padding: 0 30px !important;
        text-align: center;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 !important;
        gap: 5px;
        padding-bottom: 30px;
    }
    .footer-socialmedia {
        display: flex;
        justify-content: center;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
    }
}

    /* Footer Section Ends */

/* Home Page Ends */

/* Shop Page Starts */

    /* All Products Section Starts */

    .all-products {
        background-color: var(--light-violet-color);
        width: 100%;
        padding: 75px 250px 25px 250px;
    }

    .allproducts-heading {
        color: var(--dark-violet-color);
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 60px;
    }

    .product-links {
        display: flex;
        gap: 90px;
    }

    .product-links a {
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        color: #000000;
    }

    ul{
        list-style-type: none;
    }

    nav ul li.active a{
        color: var(--dark-violet-color) !important;
    }
    

    .product-container {
        padding: 64px 100px 60px 100px !important;
        font-family: var(--font-family);
        display: flex;
        flex-wrap: wrap;
        padding-top: 64px;
        justify-content: center;
    }

    .product-items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px !important;
        padding-top: 64px;
        justify-content: center;
    }
    
    .product-items .product-item {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center !important;

    }
    
    .product-item img {
        width: 100%;
    }
    
    .new {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #3AEF3F;
        color: #9112FF;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 20px 14px;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
    }
    
    .product-title-price {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .product-title-price h1, h2 {
        font-size: 30px;
        font-weight: 400;
        font-family: var(--font-family) !important;
    }
    
    .product-btn {
        padding: 10px 18px;
        background-color: var(--btn-violet-color);
        color: #FFFFFF;
        border-radius: 8px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
    }

    .sort-by-price {
        display: flex;
        gap: 10px;
        padding: 22px 145px;
        justify-content: end;
        background-color: rgba(51, 51, 51, 10%);
    }

    .sort-by-price label {
        font-size: 25px;
        font-weight: 500;
    }
    
    .sort-by-price select {
        border: 1px solid var(--btn-light-violet-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add a background image */
        background: url('../right-arrow.png') no-repeat;
        /* Position the image to the right of the select */
        background-position: right center;
        /* Add some padding to make room for the image */
        padding-left: 10px;
        padding-right: 25px !important;
    }

    select option:disabled {
        color: #000;
        font-weight: bold;
    }

    .sort-by-price select::-ms-expand {
        display: none;
    }

    .go-btn {
        padding: 2px 8px;
        background-color: var(--btn-light-violet-color);
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
        border: none;
    }

    .all-products #toggle-nav,
    .all-products label {
        display: none;
    }

@media (max-width: 767px) {

    .all-products {
        padding: 25px 0 !important;
    }
    .allproducts-heading {
        font-size: 25px;
        font-weight: 500;
    }
    .all-products  .product-menu {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .all-products ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    .all-products label {
        display: inline-block;
        color: #000;
        cursor: pointer;
    }
    .all-products label i {
        font-size: 20px;
        color: var(--dark-violet-color);
    }
    .all-products #toggle-nav:checked ~ .product-menu {
        height: 100% !important;
    }
    .product-links {
        gap: 20px;
    }
    .wrapper-nav {
        position: relative;
    }
    .nav-toggle {
        position: absolute;
        right: 95px;
        top: -22px;
    }
    .all-products ul li:nth-child(1) { 
        display: none;
    }
    .allproducts-heading {
        margin: 0;
    }
    .sort-by-price {
        justify-content: center;
        background-color: #FFFFFF;
    }
    .product-container {
        padding: 0 !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        padding-bottom: 40px;
    }

    .product-item h1, h2 {
        font-size: 1rem;
    }
    .product-item img {
        width: 100%;
    }
    .product-btn {
        display: none;
    }
}

/* About Section Starts */

    .about {
        padding: 95px 0;
        background-color: var(--light-violet-color);
    }

    .about-heading {
        color: var(--dark-violet-color);
        font-size: 50px;
        font-weight: 500;
    }

    .about-title {
        font-size: 30px;
        font-weight: 500px;
    }
    
    .about-subtitle {
        font-size: 26px;
        font-weight: 400;
        padding-bottom: 2rem;
    }

    .description {
        padding: 115px 285px;
    }
    @media (max-width: 767px) {
        .about {
            padding: 25px 125px;
        }
        .description {
            padding: 25px 10px;
        }
        .about-heading {
            font-size: 25px;
            font-weight: 500;
        }
        .about-title, .about-subtitle {
            font-size: 1rem;
        }
    }

/* About Section Ends */

/* Contact Section Starts */

    .contact {
        padding: 95px 0;
        background-color: var(--light-violet-color);
    }

    .contact-heading {
        color: var(--dark-violet-color);
        font-size: 50px;
        font-weight: 500;
    }

    .contact-description {
        padding: 115px 285px 510px 285px;
    }

    .contact-subtitle {
        font-size: 26px;
        font-weight: 400;
        padding-bottom: 2rem;
    }
    @media (max-width: 767px) {
        .contact {
            padding: 25px 125px;
        }
        .contact-description {
            padding: 25px 25px 650px 25px;
        }
        .contact-heading {
            font-size: 25px;
            font-weight: 500;
        }
        .contact-subtitle {
            width: 100% !important;
            text-justify: inter-word;
        }
    }

/* Contact Section Ends */

